:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-white: #fff;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 4rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 70em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 4rem;
  margin-left: 3rem; }

.searchbar {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .searchbar__input {
    font-size: 1.7rem;
    font-family: inherit;
    color: var(--color-grey-dark-3);
    font-weight: 100;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .3s;
    margin-right: -3.25rem; }
    .searchbar__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .searchbar__input:focus + .searchbar__button {
    background-color: var(--color-grey-light-3); }
  .searchbar__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .searchbar__button:focus {
      outline: none; }
    .searchbar__button:active {
      transform: translateY(2px); }
  .searchbar__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-3); }

.user-navigation {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-navigation > * {
    height: 100%;
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-navigation > *:hover {
    background-color: var(--color-grey-light-3); }
  .user-navigation__icon-box {
    position: relative; }
  .user-navigation__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-dark-3); }
  .user-navigation__user-notification {
    height: 2rem;
    width: 2rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 1.5px;
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-navigation__user-info {
    font-size: 1.5rem; }
  .user-navigation__user-photo {
    height: 4rem;
    border-radius: 50%; }
  .user-navigation__user-name {
    margin-left: 1.1rem; }

.sidebar-navigation {
  margin-top: 3rem;
  list-style: none;
  font-size: 1.75rem;
  font-weight: 100;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.625em) {
    .sidebar-navigation {
      display: flex;
      margin: 0; } }
  .sidebar-navigation__item {
    position: relative; }
    .sidebar-navigation__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.625em) {
        .sidebar-navigation__item:not(:last-child) {
          margin-bottom: 0; } }
    @media only screen and (max-width: 56.625em) {
      .sidebar-navigation__item {
        flex: 1; } }
  .sidebar-navigation__item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-primary);
    height: 100%;
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0.01, 0, 1.01) 0.2s; }
  .sidebar-navigation__item:hover::before, .sidebar-navigation__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar-navigation__item:active::before {
    background-color: var(--color-primary-light); }
  .sidebar-navigation__link:link, .sidebar-navigation__link:visited {
    text-decoration: none;
    color: var(--color-grey-light-2);
    display: block;
    padding: .75rem 0 .75rem 1.5rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.625em) {
      .sidebar-navigation__link:link, .sidebar-navigation__link:visited {
        justify-content: center;
        padding: 2rem; } }
  .sidebar-navigation__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    margin-right: 1.5rem; }

.sidebar-copyright {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3);
  text-align: center;
  padding: 2rem; }
  @media only screen and (max-width: 56.625em) {
    .sidebar-copyright {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.hotel-overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .hotel-overview__heading {
    font-size: 2.7rem;
    font-weight: 300;
    color: var(--color-grey-dark-2);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 1rem 2rem 1rem 2rem; }
  .hotel-overview__stars {
    margin-right: auto;
    display: flex; }
  .hotel-overview__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-primary); }
  .hotel-overview__location {
    display: flex;
    align-items: center; }
  .hotel-overview__icon-location {
    margin-right: .5rem; }
  .hotel-overview__rating {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .hotel-overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -.6rem; }
  .hotel-overview__rating-count {
    text-transform: uppercase; }

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 500;
  background-color: transparent;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scaleY(1);
    box-shadow: none; }
  50% {
    transform: scaleY(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scaleY(1);
    box-shadow: none; } }

.btn {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn:focus {
    outline: none;
    animation: pulsate 1s infinite; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .3s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__hidden {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__hidden {
    top: 0; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__counts {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white); }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  font-size: 1.4rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.625em) {
    .review {
      padding: 2rem;
      margin-bottom: 2.5rem; } }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__user-photo {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-data {
    font-size: 1.1rem;
    margin-right: auto; }
  .review__user-name {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .25rem; }
  .review__date {
    color: var(--color-grey-dark-3); }
  .review__rating {
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -2.7rem;
    left: -.8rem;
    font-size: 20rem;
    font-weight: 300;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    line-height: 1;
    z-index: 1; }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 56.625em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem; }

.overall-container {
  max-width: 120rem;
  margin: 0 auto;
  box-shadow: var(--shadow-dark);
  background-color: var(--color-grey-light-1); }
  @media only screen and (max-width: 70em) {
    .overall-container {
      max-width: 100%;
      width: 100%; } }

.header {
  height: 8rem;
  background-color: var(--color-white);
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }
  @media only screen and (max-width: 56.625em) {
    .content {
      flex-direction: column; } }

.sidebar-container {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.content-container {
  flex: 1;
  background-color: var(--color-white); }

.hotel-details-container {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.625em) {
    .hotel-details-container {
      padding: 2.5rem; } }

.hotel-description {
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  flex: 0 0 60%;
  margin-right: 4.5rem;
  font-size: 1.4rem;
  padding: 3rem; }
  @media only screen and (max-width: 56.625em) {
    .hotel-description {
      margin-right: 2.5rem;
      padding: 2rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
