//////////////////////////////
// LOGO
//////////////////////////////

.logo {
    height: 4rem;
    margin-left: 3rem;
}

//////////////////////////////
// SEARCHBAR
//////////////////////////////

.searchbar {
    flex: 0 0 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    &__input {
        font-size: 1.7rem;
        font-family: inherit;
        color: var(--color-grey-dark-3);
        font-weight: 100;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 1rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .3s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-3);
    }
}

//////////////////////////////
// USER NAVIGATION
//////////////////////////////

.user-navigation {
    align-self: stretch;

    display: flex;
    align-items: center;

    & > * {
        height: 100%;
        padding: 0 2rem;
        cursor: pointer;

        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-3);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: var(--color-grey-dark-3);
    }

    &__user-notification {
        height: 2rem;
        width: 2rem;
        color: var(--color-white);
        background-color: var(--color-primary);
        border-radius: 50%;
        padding: 1.5px;
        position: absolute;
        right: 1rem;
        top: 1.4rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-info {
        font-size: 1.5rem;
    }

    &__user-photo {
        height: 4rem;
        border-radius: 50%;
    }

    &__user-name {
        margin-left: 1.1rem;
    }
}

//////////////////////////////
// SIDEBAR
//////////////////////////////

.sidebar-navigation {
    margin-top: 3rem;
    list-style: none;
    font-size: 1.75rem;
    font-weight: 100;
    text-transform: uppercase;

    @media only screen and (max-width: $bp_medium) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp_medium) {
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $bp_medium) {
            flex: 1;
        }
    }

    &__item:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--color-primary);
        height: 100%;
        width: 3px;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,.01,0,1.01) .2s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: var(--color-grey-light-2);
        display: block;
        padding: .75rem 0 .75rem 1.5rem;
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp_medium) {
            justify-content: center;
            padding: 2rem;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: currentColor;
        margin-right: 1.5rem;
    }
}

.sidebar-copyright {
    font-size: 1.2rem;
    color: var(--color-grey-dark-3);
    text-align: center;
    padding: 2rem;

    @media only screen and (max-width: $bp_medium) {
        display: none;
    }
}

//////////////////////////////
// GALLERY
//////////////////////////////

.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}

//////////////////////////////
// HOTEL OVERVIEW
//////////////////////////////

.hotel-overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading {
        font-size: 2.7rem;
        font-weight: 300;
        color: var(--color-grey-dark-2);
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin: 1rem 2rem 1rem 2rem;
    }

    &__stars {
        margin-right: auto;

        display: flex;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-primary);
    }

    &__location {
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: var(--color-white);
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 2.25rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -.6rem;
    }

    &__rating-count {
        text-transform: uppercase;
    }
}

//////////////////////////////
// BUTTONS
//////////////////////////////

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scaleY(1);
        box-shadow: none;
    }

    50% {
        transform: scaleY(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    100% {
        transform: scaleY(1);
        box-shadow: none;
    }
}

.btn {
    font-size: 1.5rem;
    color: var(--color-white);
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .3s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__hidden {
        position: absolute;
        left: 0;
        top: -100%;
        padding: 2rem 0;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__hidden {
        top: 0;
    }
}

//////////////////////////////
// PARAGRAPH
//////////////////////////////

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

//////////////////////////////
// LIST
//////////////////////////////

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: .7rem;
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: .7rem;

        // Older browsers
        // background-image: url(../img/chevron-thin-right.svg);
        // background-size: cover;

        // Newer broesers
        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
    }
}

//////////////////////////////
// RECOMMEND
//////////////////////////////

.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__counts {
        margin-right: auto;
    }

    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid var(--color-white);

        &:not(:last-child) {
            margin-right: -1.5rem;
        }
    }
}

//////////////////////////////
// REVIEWS
//////////////////////////////

.review {
    font-size: 1.4rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $bp_medium) {
        padding: 2rem;
        margin-bottom: 2.5rem;
    }

    &__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-photo {
        display: inline-block;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-data {
        font-size: 1.1rem;

        margin-right: auto;
    }

    &__user-name {
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: .25rem;
    }

    &__date {
        color: var(--color-grey-dark-3);
    }

    &__rating {
        color: var(--color-primary);
        font-size: 3rem;
        font-weight: 300;
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -2.7rem;
        left: -.8rem;
        font-size: 20rem;
        font-weight: 300;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        line-height: 1;
        z-index: 1;
    }
}

//////////////////////////////
// CTA
//////////////////////////////

.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $bp_medium) {
        padding: 2.5rem 0;
    }

    &__book-now {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }
}