.overall-container {
    max-width: 120rem;
    margin: 0 auto;
    box-shadow: var(--shadow-dark);
    background-color: var(--color-grey-light-1);

    @media only screen and (max-width: $bp-large) {
        max-width: 100%;
        width: 100%;
    }
}

.header {
    height: 8rem;
    background-color: var(--color-white);
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;

    @media only screen and (max-width: $bp_medium) {
        flex-direction: column;
    }
}

.sidebar-container {
    flex: 0 0 18%;
    background-color: var(--color-grey-dark-1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container {
    flex: 1;
    background-color: var(--color-white);
}

.hotel-details-container {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp_medium) {
        padding: 2.5rem;
    }
}

.hotel-description {
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    font-size: 1.4rem;
    padding: 3rem;

    @media only screen and (max-width: $bp_medium) {
        margin-right: 2.5rem;
        padding: 2rem;
    }
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}